.App {
    min-height: 100vh;
    width: 40vw;
    border: 1px solid var(--neutral-color);
    border-radius: 1.2rem;
    margin: 0 auto;
    overflow: hidden;
}

.App main {
    padding: 1rem 3rem;
}
.about-section {
    border-top: 2px solid var(--primary-color);
    min-height: 300px;
    display: flex;
}
.about-section .skills {
    width: 40%;
    border-right: 2px solid var(--primary-color);
    min-height: 100px;
}

.about-section .work-education {
    flex: 1;
}
.work-education .education {
    border-top: 2px solid var(--primary-color);
}
@media screen and (max-width: 1068px) {
    .App {
        width: 70vw;
    }
}

@media screen and (max-width: 600px) {
    .App {
        width: 100vw;
        border-radius: 0px;
    }
}
